@{ ViewData["Title"] = "Product addition"; }

<form method="post">
    <label>Title</label>
    <input type="text" name="Title" required/>
    <br/>
    <label>ImageUrl</label>
    <input type="url", name="Image"/>
    <br/>
    <input type="submit", name="submit" value="Append"/>
</form>